.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .iconfont {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .btn-box {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .btn {
    margin: 0 10px;
    padding: 8px 16px;
    color: white;
    background-color: #272727;
    border: none;
    border-radius: 1px;
  }
  